title: Google Chart Shortcodes
type: button

shortcodeName: chart

popupOptions:
	data:
		label: Data
		type: text
		class: all
		default: ""
	colors:
		label: Colors
		type: text
		class: all
		default: ""
	size:
		label: Size
		type: text
		class: all
		default: "400x200"
	bg:
		label: Background
		type: text
		class: all
		default: "ffffff"
	title:
		label: Title
		type: text
		class: all
		default: ""
	labels:
		label: Labels
		type: text
		class: all
		default: ""
	advanced:
		label: Advanced
		type: text
		class: all
		default: ""
	type:
		label: Type
		type: select
		class: all
		default: {
			pie: {
				label: Pie 3D
				checked: true
			},
			pie2d: {
				label: Pie 2D
			},
			line: {
				label: Line
			},
			xyline: {
				label: XY Line
			},
			sparkline: {
				label: Sparkline
			},
			meter: {
				label: Meter
			},
			scatter: {
				label: Scatter
			},
			venn: {
				label: Venn
			}
		}