title: Google Maps Shortcodes
type: button

shortcodeName: googlemap

popupOptions:
	type:
		label: Map Type
		type: select
		class: all
		default: {
			ROADMAP: {
				label: Normal Map
				checked: true
			},
			SATELLITE: {
				label: Satellite Map
			},
			HYBRID: {
				label: Hybrid Map
			}
		}
	border:
		label: Border
		type: checkbox
		class: all
	width:
		label: "Width (px or false)"
		type: text
		class: all
		default: 'false'
	height:
		label: "Height (px or false)"
		type: text
		class: all
		default: '400'
	latitude:
		label: Latitude
		type: text
		class: all
		default: '0'
	longitude:
		label: Longitude
		type: text
		class: all
		default: '0'
	address:
		label: Address
		type: text
		class: all
		default: ''
	zoom:
		label: Zoom
		type: text
		class: all
		default: '3'