# We recomend to not edit this file, unless you know what are you doing
branding:
	options:
		'Your own branding for AIT Admin': section
		#########################################

		adminTitle:
			label: Admin title
			type: text
			default: Theme Admin
			help: Will be displayed if user has Editors role

		loginScreenLogo:
			label: Login Screen Logo
			type: text
			default: 'design/admin-branding/ait-login-logo.png'
			help: Relative path to the image from Theme root

		loginScreenLogoLink:
			label: Login Screen Logo Link
			type: text
			default: 'http://www.ait-themes.com'
			help: Your prefered link for logo

		loginScreenLogoTooltip:
			label: Login Screen Logo Tooltip Title
			type: text
			default: Powered by AIT WordPress Framework

		loginScreenCss:
			label: Custom CSS for login page
			type: textarea
			class: code
			# {$img} will be replaced with image from loginScreenLogo
			default: "/* Notice variable {$img} here. It will be replaced with 'Login Screen Logo' image. */\n\n body.login { background: #f4f4f4; margin: 50px 0px; padding-bottom: 50px; } h1 a { background: url('{$img}') no-repeat top center !important; } p#nav, p#backtoblog {text-align: center;} p#nav a, p#backtoblog a {text-decoration: none;} p#nav a:hover, p#backtoblog a:hover {text-decoration: underline;}"

		adminTitleIcon:
			label: "Big Admin Icon (32x32)"
			type: text
			default: 'design/admin-branding/ait-admin-icon32.png'
			help: Relative path to the image from Theme root

		adminMenuIcon:
			label: "Small Admin Menu Icon (16x16)"
			type: text
			default: 'design/admin-branding/ait-admin-menu-icon16.png'
			help: Relative path to the image from Theme root

		adminFooterText:
			label: "Custom Admin Footer Text"
			type: wysiwyg
			# Use only double quotes with HTML attributtes
			default: 'Created by <a href="http://www.ait-themes.com">AIT Themes</a>. Powered by <a href="http://www.wordpress.org">WordPress</a> with <a href="http://www.ait-themes.com">AIT WordPress Framework</a>.'