/* ======================================
 
    Responsive Stylesheet
 
========================================= */

@media all and (max-width: 1024px){}
@media all and (max-width: 980px){}
@media all and (max-width: 768px){}
@media all and (max-width: 640px){}

/* =================== */
/* = MAX WIDTH 480px = */
/* =================== */

@media all and (max-width: 497px){

	/*html {overflow: hidden;}*/
	
	#ait-themebox {display: none;}
	.colorpicker {display: none;}

    body {
		font-size: 20px;
		min-width: 480px;
		max-width: 480px;
		width    : 480px;}

	.defaultContentWidth,
	.defaultPageWidth,
	.page-content,
	.service-boxes,
	.footer,
	.subpage .mainbar {width: 480px;}

	.dropdown-panel-control {display: none;}

    .mainpage {
    	margin: 0;
    	max-width: 480px;
    	width: 480px;}

    #container {padding-bottom: 0;}

    .content .page-content #container #content {padding: 0 20px 10px;}


    .sidebar, .subpage .sidebar {width: 440px; clear: both; float: none; padding: 0 20px;}


    .tooltip-icons {height: auto;}

    /* SUB PAGE */

    #content-wrapper {padding: 0 20px; width: auto;}

    .subpage-title-container h1 {margin: 0 20px;}

    .service-boxes .service-boxes-container .service-box {padding-bottom: 20px;}
    .service-boxes .service-boxes-container .service-box:nth-child(3n) {clear: both;}

    .single-ait-room .subpage .entry-content img {max-width: 440px;}

    /* Blog */


    .blog .hentry .entry-thumb-img img {width: 440px;}
    	.blog .hentry .entry-thumb-img a {padding: 0;}

    .info-box {
    	float: left;
    	width: 418px;}

    	.info-box .info-box-inside {min-height: 80px;}

    		.info-box .info-box-inside h3 {float: left; font-size: 15px;}
    		.info-box .info-box-inside small {float: right; font-size: 15px;}
    		.info-box .info-box-inside span b, .info-box .info-box-inside span a {font-size: 15px;}
    		.info-box .info-box-inside span {clear: both; float: right; font-size: 15px;}

    		.no-thumbnail .info-box {margin: 0 0 20px 0;}

    		.info-box-inside br {display: none;}

    .single-post .info-box {margin: 0 0 20px 0;}

    #respond p.comment-notes {line-height: 20px !important; width: 140px !important;}

    /* COLUMNS */

    .one-half, .one-half-last, 
		.onecolumn .one-half, .onecolumn .one-half-last,
	.one-third, .one-third-last, 
		.onecolumn .one-third, .onecolumn .one-third-last,
	.one-fourth, .one-fourth-last, 
		.onecolumn .one-fourth, .onecolumn .one-fourth-last,
	.three-fourth, .three-fourth-last,
		.onecolumn .three-fourth, .onecolumn .three-fourth-last,
	.two-third, .two-third-last, 
		.onecolumn .two-third, .onecolumn .two-third-last {margin-right: 0; width: 440px;}

    .subpage .entry-content .one-third .frame img,
	.subpage .entry-content .one-third-last .frame img,
	.onecolumn .entry-content .one-third img.thumb, .onecolumn .entry-content .one-third-last img.thumb {
		max-width: 440px; width: 440px; height: auto;}

	.grid-style .gridFirst, 
	.grid-style .gridSecond {width: 398px;}
	.grid-style .entry-header img {width: 418px; max-width: 418px;}
	.hentry .title-no-thumbnail .date {width: 406px;}
	.post-links {height: 18px; width: 52px;}
	.title-no-thumbnail .tool-buttons {top: 13px;}

	.single-post .entry-thumbnail img,
	.subpage .entry-content img {max-width: 440px; height: auto; width: 440px;}
	.subpage .entry-content img.thumb {max-width: 420px; height: auto; width: 420px;}

		.single .post-footer .cat-links span, .single .post-footer .tag-links span {width: 105px;}
		#respond p.comment-notes {line-height: 20px; }

		.hentry .blog-info p, .blog-info p {line-height: 22px;}

		section#rooms {
			margin: 0 auto;
			width: 335px;}

			#rooms .item {background: none; margin-bottom: 0px;}

			#rooms .item.clearfix:after {visibility: hidden;}

			.sc-page .image {margin: 0 20px 11px 0;}

			.sc-page .image a {background: none; margin-top: 14px; padding-bottom: 0;}

			.sc-page img {
				-webkit-border-radius: 0;
				-moz-border-radius   : 0;
				border-radius        : 0;}

			.single-ait-room .subpage .entry-content img, .single-ait-item .subpage .entry-content img {max-width: 440px;}

			.shortcodeCustomType .ait-room div.entry-content {font-size: 18px; line-height: 21px; margin-top: 10px;}


/* Widgets */

	.widget_search #searchform #s, .content #search-form #search-input {margin-right: 15px; width: 370px;}
	.error404 #search-form {margin-bottom: 20px;}
	.widget_tag_cloud .tagcloud {text-align: left;}

	#lang_sel a, #lang_sel a:visited {width: 119px;}
	.widget_rss img {padding-left: 9px;}

	.widget_meta li, .widget_pages li, .widget_nav_menu li, .widget_submenu li, .widget_links li, .widget_archive li, .widget_recent_entries li, .widget_recent_comments li, .widget_categories li {border-bottom: 1px solid #ddd;}

	.widget_wpdev_booking {margin-top: 0 !important;}

	.widget_bookingwidget, .sidebar .widget_bookingwidget h2.widget-title {margin-bottom: 0 !important;}

	.booking_form_div input[type=button] {
		float    : right;
		font-size: 18px;
		margin   : 10px 8px 0 0;
		width    : 150px;}

	.booking_form_div textarea, .booking_form_div input, .booking_form_div select, .booking_SagePayForm input {font-size: 18px !important;}

	.datepick-inline {margin: 0 auto 10px 0;}

	.widget_wpdev_booking .datepick-inline, 
	.widget_wpdev_booking 
	.datepick-inline table.datepick {min-width: 410px; width: 100% !important;}

	.widget_wpdev_booking .datepick-header {min-width: 440px;} 

	.widget_wpdev_booking .datepick-inline table.datepick td {width: 14% !important;}

	.widget_text p {text-align: center;}

	/* Fonts */

	.testimonials p {font-size: 24px; line-height:29px;}

	.widget-container {clear: both;}

	.widget-container, .widget-container a, .widget-container li { font-size: 20px; line-height: 24px;}

	p, .entry-content p, .widget_text p, .service-boxes .service-box-content p {
		font-size  : 20px;
		margin-left: 0;
		line-height: 24px;}

	.entry-content ul li, .entry-content ol li {line-height: 25px;}

	.frame pre code {line-height: 25px;}

	.widget_posts p {width: 430px;}


	small {
		font-size: 18px;
		line-height: 20px !important;}

	.entry-content h1, .hentry h1.entry-title, .mainpage h1 {font-size: 28px; line-height: 32px;}
	.entry-content h2, .hentry h2.entry-title, .mainpage h2, .widgets h2.widget-title, h2.widget-title {font-size: 25px; line-height: 27px;}
	.entry-content h3, .hentry h3.entry-title, .mainpage h3, .widget_posts h3 {font-size: 23px; line-height: 25px;}
	.entry-content h4, .hentry h4.entry-title, .mainpage h4 {font-size: 18px; line-height: 22px;}

	.footer h1.widget-title a {font-size: 28px; line-height: 32px;}
	.footer h2.widget-title a {font-size: 22px; line-height: 25px;}
	.footer h3.widget-title a {font-size: 20px; line-height: 24px;}
	.footer h4.widget-title a {font-size: 18px; line-height: 22px;}
	.footer h5.widget-title a {font-size: 18px; line-height: 22px;}

	.entry-content table thead th,
	.entry-content table tbody th,
	.entry-content table tbody td {line-height: 25px;}



/* Header */

.header-container {padding-bottom: 0;}
	.header .logo {padding: 0 0 20px 0;}
		.header .logo a img {display: block; margin: 0 auto;}

	.header ul.flags {
		left      : 0px;
		overflow  : visible !important;
		text-align: center;
		top       : 95px;
		width     : 480px;}

			.header ul.flags li {display: inline-block; padding-bottom: 18px;}

/* Menu */

.mainmenu {
	bottom  : auto;
	left    : 0;
	position: relative;}

.mainmenu > ul {
	background   : #F9F9F9;
	border-top   : 1px solid #eee;
	border-bottom: 1px solid #ddd;
	margin-top   : 10px;
	padding-right: 0;}

	.mainmenu ul ul {z-index: 1000000; width: 300px;}
		.mainmenu ul li:nth-child(3n) ul { left: 0px; }
		.mainmenu ul li:nth-child(3n) ul ul {left: 0px;}
		/*.mainmenu ul li:nth-child(2n) ul { left: -126px; }*/
		.mainmenu ul li:nth-child(2n) ul ul { top: -3px; left: -209px;}
	.mainmenu > ul > li, .mainmenu > ul > li > a {font-size: 20px;}

	.mainmenu > ul > li {
		border-bottom: 1px solid #ddd;
		margin       : 0;
		padding      : 5px 0;
		text-align   : center;
		width        : 240px;}

		.mainmenu > ul > li:nth-child(odd) {border-right: 1px solid #ddd; width: 239px;}
		.mainmenu > ul > li:last-child {border-bottom: 0;}

			.mainmenu ul li ul {
				left: 15px;
				top : 25px;}

			.mainmenu li li {border-bottom: 1px solid #ddd; z-index: 100000; margin-top: 0 !important;}

/* Slider */ 

#slider-container ul.slide img,
div.anythingSlider .anythingWindow {
	-webkit-border-radius: 0 !important;
	-moz-border-radius   : 0 !important;
	border-radius        : 0 !important;
	width                : 480px;
	height               : inherit !important;}

	#slider,
	.slider-container,
    #slider-container ul.slide,
    #slider-container ul.slide img,
    div.slide-pattern-up,
    div.slide-pattern-down,
    div.anythingSlider .anythingWindow,

    .slider .room-options-container-top,
	.slider .room-options-container-bottom,
	.slider .room-options-container-top-left,
	.room-data .reservation-form {width: 480px;}

    .anythingSlider.anythingSlider-default,
	#slider-container ul.slide li {width:480px !important;}


ul.anythingBase li.panel, .slider-container ul.slide {height: auto !important;}


.slider .room-options-container {bottom: auto; left: auto; position: static;}

.room-description-container strong.caption-title {font-family: Arial, Sans-serif; text-shadow: 1px 1px 0 #222;}
.slider .room-description-container p {font-family: Arial, Sans-serif; text-shadow: 1px 1px 0 #222; text-align: left;}

.slider-container {
	height: auto;
	overflow: hidden;
	position: relative;}

.reservation-form form {text-align: center;}
 

.room-data .reservation-form {
	display       : block !important;
	height        : auto;
	padding-bottom: 20px;
	position      : static;
	top           : 78px;}

.slider .room-options-container-bottom {height: auto;}

.room-data .reservation-form select#room {width: 158px; background-position: 119px 50%;}

.room-data .reservation-form .select-wrapper {
	display    : inline-block;
	float      : none;
	margin-left: 0;
	overflow   : visible;
	width      : 160px;}

.room-data .reservation-form input {
	margin : 20px 0 0 20px; 
	padding: 5px 0 5px 5px; 
	width  : 160px;}

.room-options-container-bottom ul.room-controls {
	background   : #f4f4f4;
	border-bottom: 1px solid #ddd;
	padding      : 20px 0 0;
	position     : static;}

	.room-options-container-bottom ul.room-controls li {
		margin    : 0;
		text-align: center;
		width     : 156px;}

		.room-options-container-bottom ul.room-controls li a:link img {
			background           : #111;
			-webkit-border-radius: 5px;
			-moz-border-radius   : 5px;
			border-radius        : 5px;}

			.room-options-container-bottom ul.room-controls li a img {margin: 0 50px;}

		.room-options-container-bottom ul.room-controls li span {
			color  : #333;
			display: inline-block;
			float  : none;
			margin : 0;
			width  : 156px;}

.slider .room-options-container-bottom {
	background           : none;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;}

.slider .room-description-container {
	left : 20px;
	right: auto;
	top  : 129px;
	text-align: center;
	width: 440px;}

div.anythingSlider .arrow a {top: 85px !important;}
		div.anythingSlider .back a {left: 10px !important;}

		div.anythingSlider .forward a {
			left : auto !important;
			right: 10px !important;}


.slider .room-options-container-top, 
.slider .room-options-container-top-left, 
.slider .room-options-container-top-right {display: none;}

.slider-content .white-space {background: #fff;}
.room-data .reservation-form h5.book-now-button a:after {display: none;}

.reservation-form h5.book-now-button, h5.book-now-button-subpage {
	clear: both;
	float: none; 
	margin: 0 auto;
	text-align: center;} 

.reservation-form h5.book-now-button a, h5.book-now-button-subpage a {
	background           : url("design/img/room-book-icon.png") no-repeat scroll 10px center #222;
	border               : 1px solid #000;
	-webkit-border-radius: 2px;
	-moz-border-radius   : 2px;
	border-radius        : 2px;
	-webkit-box-shadow   : 0 1px 1px #444 inset, 0 1px 1px -1px #d06249;
	-moz-box-shadow      : 0 1px 1px #444 inset, 0 1px 1px -1px #d06249;
	box-shadow           : 0 1px 1px #444 inset, 0 1px 1px -1px #d06249;
	display              : inline-block;
	font-family          : Arial, Sans-serif;
	font-size            : 17px;
	margin               : 15px 0 0 0;
	padding              : 3px 8px 3px 28px;}

.reservation-form h5.book-now-button a:hover, h5.book-now-button-subpage a:hover {
	background           : url("design/img/room-book-icon.png") no-repeat scroll 8px center #eee;
	border               : 1px solid #fff;
	color: #000;
	-webkit-box-shadow   : 0 1px 1px #fff inset, 0 1px 1px -1px #d06249;
	-moz-box-shadow      : 0 1px 1px #fff inset, 0 1px 1px -1px #d06249;
	box-shadow           : 0 1px 1px #fff inset, 0 1px 1px -1px #d06249;}

/* Slider SubPage */
.toolbar,
.subpage-slider-container .container-control {display: none;}
.subpage-slider-container .anythingSlider 	{ height: 137px !important; }

.slider .subpage-room-options-container-left {
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
	float                : left;
	height               : auto;
	overflow             : visible;
	width                : 480px;}

#subpage-room-data-description {
	background           : none;
	border               : none;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
	height               : auto;
	position             : absolute;
	top                  : 51px;
	z-index              : 10;}

	#subpage-room-data-description strong {
		font-size: 15px;
		text-align: center;}

	#subpage-room-data-description p {
		font-size  : 20px; 
		line-height: 18px; 
		height     : 36px;
		text-shadow: 1px 1px 0px #222;}

.subpage-slider-container div.anythingSlider .arrow a {top: 33px !important;}


/* Service Box */
.service-boxes .service-boxes-container {margin-left: 20px; margin-right: 0;}
	.service-boxes .service-boxes-container .service-box {margin-right: 20px;}

/* Footer */ 

	.footer-widgets-container {width: 448px;}

	.footer-widgets {padding-bottom: 0;}
	.footer-widgets .widget-container {width: 420px !important; float: none; margin-bottom: 30px;}

	.footer-widgets .widget_meta li, .footer-widgets .widget_pages li, .footer-widgets .widget_nav_menu li, .footer-widgets .widget_submenu li, .footer-widgets .widget_links li, .footer-widgets .widget_archive li, .footer-widgets .widget_recent_entries li, .footer-widgets .widget_recent_comments li, .footer-widgets .widget_categories li {border-bottom: 1px dotted #999;}


.footer-links {margin: 0 20px; width: 440px;}
	.footer-links .copyright {float: none; text-align: center;}
	.footer-links .links {float: none; margin-top: 20px;}
		.footer-links ul.menu {text-align: center;}
			.footer-links ul.menu li {
				display   : inline-block;
				float     : none;
				margin    : 0 10px 10px;
				text-align: center;}

		.footer p {line-height: 26px;}
		.copyright p {font-size: 18px; text-align: center;}

/* Shortcodes */


.sc-button {
	float : none !important;
	margin: 0 20px 20px 0 !important;}

/* Accordion */
.ui-widget-content .one-half,
.ui-widget-content .one-half-last,
.ui-widget-content .one-third,
.ui-widget-content .one-third-last,
.ui-widget-content .two-third,
.ui-widget-content .two-third-last,
.ui-widget-content .one-fourth,
.ui-widget-content .one-fourth-last,
.ui-widget-content .three-fourth,
.ui-widget-content .three-fourth-last	{ width: 397px;}

.sc-fb-comments iframe, .fb_iframe_widget, .twtr-widget, .twtr-doc {max-width: 440px;}
.sc-fb-comments.border .wrap {overflow: hidden;}

.ui-tabs .ui-tabs-nav li a {padding: 0.5em 5px !important;}


/* Portfolio Shortcodes */

.onecolumn .ait-portfolio.desc-right.pf-col1 .pf-page,
.onecolumn .ait-portfolio.desc-right.pf-col1 .pf-page .image {width: 420px;}

.onecolumn .ait-portfolio.desc-right.pf-col1 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-right.pf-col1 .pf-page img {width: 200px !important; height: auto !important; line-height: 0 !important;}

.onecolumn .ait-portfolio.desc-right.pf-col1 .pf-page .item .image h3,
.onecolumn .ait-portfolio.desc-right.pf-col1 .pf-page .item .image .portfolio-item-description {margin-left: 200px !important;}


.onecolumn .ait-portfolio.desc-right.pf-col2 .pf-page,
.onecolumn .ait-portfolio.desc-right.pf-col2 .pf-page .image {width: 210px;}

.onecolumn .ait-portfolio.desc-right.pf-col2 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-right.pf-col2 .pf-page img {width: 90px !important; height: auto !important; line-height: 0 !important;}

.onecolumn .ait-portfolio.desc-right.pf-col2 .pf-page .item .image h3,
.onecolumn .ait-portfolio.desc-right.pf-col2 .pf-page .item .image .portfolio-item-description {margin-left: 90px !important;}


.onecolumn .ait-portfolio.desc-right.pf-col3 .pf-page {width: 210px;}

.onecolumn .ait-portfolio.desc-right.pf-col3 .pf-page .image {width: 194px !important;}
.onecolumn .ait-portfolio.desc-right.pf-col3 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-right.pf-col3 .pf-page img {width: 90px !important; height: auto !important; line-height: 0 !important;}

.onecolumn .ait-portfolio.desc-right.pf-col3 .pf-page .item .image h3,
.onecolumn .ait-portfolio.desc-right.pf-col3 .pf-page .item .image .portfolio-item-description {margin-left: 90px !important;}

.onecolumn .ait-portfolio.desc-right.pf-col4 .pf-page {width: 210px;}
	.onecolumn .ait-portfolio.desc-right.pf-col4 .pf-page .image {width: 194px;}

.onecolumn .ait-portfolio.desc-right.pf-col4 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-right.pf-col4 .pf-page img {width: 70px !important; height: auto;}
.onecolumn .ait-portfolio.desc-right.pf-col4 .pf-page h3,
.onecolumn .ait-portfolio.desc-right.pf-col4 .pf-page .portfolio-item-description {margin-left: 65px;}

.onecolumn .ait-portfolio.pf-col2 .pf-page {width: 210px}

.onecolumn .ait-portfolio.pf-col2 .pf-page .image,
.onecolumn .ait-portfolio.pf-col2 .pf-page a.zoom,
.onecolumn .ait-portfolio.pf-col2 .pf-page img {width: 194px !important; height: auto !important; line-height: 0 !important;}


.onecolumn .ait-portfolio.pf-col3 .pf-page {width: 210px}

.onecolumn .ait-portfolio.pf-col3 .pf-page .image,
.onecolumn .ait-portfolio.pf-col3 .pf-page a.zoom,
.onecolumn .ait-portfolio.pf-col3 .pf-page img {width: 194px !important; height: auto !important; line-height: 0 !important;}


.onecolumn .ait-portfolio.pf-col4 .pf-page {width: 210px}

.onecolumn .ait-portfolio.pf-col4 .pf-page .image,
.onecolumn .ait-portfolio.pf-col4 .pf-page a.zoom,
.onecolumn .ait-portfolio.pf-col4 .pf-page img {width:194px !important; height: auto !important; line-height: 0 !important;}


.onecolumn .ait-portfolio.desc-down.pf-col2 .pf-page {width: 210px}

.onecolumn .ait-portfolio.desc-down.pf-col2 .pf-page .image,
.onecolumn .ait-portfolio.desc-down.pf-col2 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-down.pf-col2 .pf-page img {width: 194px !important; height: auto !important; line-height: 0 !important;}


.onecolumn .ait-portfolio.desc-down.pf-col3 .pf-page {width: 210px}

.onecolumn .ait-portfolio.desc-down.pf-col3 .pf-page .image,
.onecolumn .ait-portfolio.desc-down.pf-col3 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-down.pf-col3 .pf-page img {width: 194px !important; height: auto !important; line-height: 0 !important;}


.onecolumn .ait-portfolio.desc-down.pf-col4 .pf-page {width: 210px}

.onecolumn .ait-portfolio.desc-down.pf-col4 .pf-page .image,
.onecolumn .ait-portfolio.desc-down.pf-col4 .pf-page a.zoom,
.onecolumn .ait-portfolio.desc-down.pf-col4 .pf-page img {width: 194px !important; height: auto !important; line-height: 0 !important;}


.wpcf7 input, .wpcf7 textarea, .wpcf7 .selectbox select {width: 90%;}
.wpcf7 .checkbox input {width: 40px;}
#colorbox {max-width: 420px;}
.cboxPhoto {max-width: 400px; height: auto;}
	#cboxNext {left: 84px !important;}
	#cboxCurrent {left: 131px !important;}
	#cboxTitle {left: 100px !important;}


/* Summary Reservation Form */

.wpcf7-form {margin-bottom: 50px;}

  .contact-form-container{
		background   : @headerBgColor url('design/img/patterns/structure.png') repeat 0 0; 
		border       : 1px solid #fff !important; 
		padding-right: 0px;}

.contact-form-container .contact-form-inside img {
	box-shadow  : none;
	float       : none;
	height      : auto;
	margin-right: 0;
	width       : 438px;
	max-width   : 438px;}

.wpcf7 .text-summary {
	clear : both;
	margin: 25px 0 20px 20px;
	float : none;}

	.wpcf7 .text-summary h3 {margin-bottom: 25px !important;}

		.wpcf7 input.wpcf7-text {
			border               : 1px solid #fff !important;
			-webkit-border-radius: 0 !important;
			-moz-border-radius   : 0 !important;
			border-radius        : 0 !important;
			margin-bottom        : 10px;
			font-size            : 20px !important;}

	.wpcf7 .text-summary p {margin-bottom: 15px !important;}


	.contact-form-user tr td textarea {width: 90%; font-size: 20px !important;}
	.contact-form-user tr td {color: #222; text-shadow: 1px 1px 0 #fff}


table.contact-form-user {
	background     : #E4E1D0 url('design/img/patterns/structure.png') repeat 0 0; 
	border         : 1px solid #ddd;
	border-collapse: collapse;
	margin-bottom  : 0 !important;
	padding        : 20px 0 20px 20px;}

.contact-form-user tr td input {margin-bottom: 10px;}

	.wpcf7-form table, .wpcf7-form thead, .wpcf7-form tbody, .wpcf7-form th, .wpcf7-form td, .wpcf7-form tr {display: block;}

	td {
		border       : none;
		border-bottom: 10px;
		position     : relative;
		padding-left : 0;}

.wpcf7 .captcha {
	clear         : both;
	display       : block;
	padding-bottom: 35px;}

input.wpcf7-acceptance {width: 17px !important; margin: 20px 0 10px !important;}

.wpcf7 .wpcf7-submit {
	float    : right !important;
	font-size: 18px !important;
	width    : 150px !important;}

.widget_wpdev_booking {width: 100%;}

}


@media all and (max-width: 320px){}