title: Social Shortcodes
type: button

shortcodeName: fb-box

popupOptions:
    type:
        label: Insert
        type: type-select
        class: all
        default: {
            fb-box: {
                label: Facebook Box
                checked: true
                shortcodeName: fb-box
            },
            fb-comments: {
                label: Facebook Comments
                shortcodeName: fb-comments
            },
            twitter: {
                label: Twitter
                shortcodeName: twitter
            }
        }
    borderFB:
        label: Border
        type: checkbox
        class: fb-box
    borderFBC:
        label: Border
        type: checkbox
        class: fb-comments
    variant:
        label: Variant
        type: select
        class: all
        default: {
            light: {
                label: Light
                checked: true
            },
            dark: {
                label: Dark
            }
        }
    link:
        label: Fanpage link
        type: text
        default: http://www.facebook.com/AitThemes
        class: fb-box
    width:
        label: "Width (px)"
        type: text
        default: 600
        class: all
    height:
        label: "Height (px)"
        type: text
        default: 600
        class: all
    faces:
        label: Show Faces
        type: select
        class: fb-box
        default: {
            'true': {
                label: Show
                checked: true
            },
            'false': {
                label: Hide
            }
        }
    stream:
        label: Stream
        type: select
        class: fb-box
        default: {
            'true': {
                label: Show
                checked: true
            },
            'false': {
                label: Hide
            }
        }
    posts:
        label: Show Posts
        type: text
        default: 15
        class: fb-comments
    widgetid:
        label: "Widget ID"
        type: text
        class: twitter
    username:
        label: "Username (optional)"
        type: text
        default: ''
        class: twitter
    tweets:
        label: "Number of tweets (optional)"
        type: text
        class: twitter
    linkscolor:
        label: "Links color (optional)"
        type: colorpicker
        default: ''
        class: twitter
    borders:
        label: Borders
        type: checkbox
        default: checked
        class: twitter
    borderscolor:
        label: "Borders color (optional)"
        type: colorpicker
        default: ''
        class: twitter
    transparent:
        label: "Transparent background"
        type: checkbox
        class: twitter