.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce ul.products li.product .button, 
.woocommerce button.button, 
.woocommerce-cart .woocommerce input.button, 
.woocommerce .woocommerce-message a{
    background-color: transparent;
    border:2px solid #E66432;
    transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    font-weight: 300;
    color:#000000;
}
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce ul.products li.product .button:hover, 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce button.button:hover, 
.woocommerce .woocommerce-message a:hover{
    background-color:#E66432;
    color:#ffffff;
}
.woocommerce input.button:hover{
    background-color:#E66432;
    color: #fff;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    width:110px;
    margin-top: 3px;
}
.woocommerce ul.products li.product .onsale {
    margin: 6px 6px 0 0;
    border-radius: 0%;
    background:#E66432;
}
.woocommerce span.onsale {
    top: 10px;
    left: 10px;
    margin: 0 0 0 0;
    border-radius: 0%;
    background:#E66432;
}
.woocommerce ul.products li.product .price del {
    display: inline;
    padding-right: 8px;
}
.woocommerce ul.products li.product h3, 
.woocommerce ul.products li.product .price {
    text-align: center;
}
.woocommerce ul.products li.product .button {
    margin-top: 0px;
}
.woocommerce .quantity .qty {
    margin-top: 3px;
}
.woocommerce ul.products li.product a img {
    margin: 0 0 0;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    text-align: center;
}
.woocommerce .products ul, 
.woocommerce ul.products, 
.woocommerce .woocommerce-breadcrumb {
    background: #fff;
}
.woocommerce div.product { 
    padding: 10px 10px 10px 10px;
    background: #fff;
}
.woocommerce ul.products {
    padding: 10px 10px 10px 10px;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price, 
.woocommerce .woocommerce-message:before, 
.woocommerce ul.products li.product .price {
    color:#E66432;
}
.woocommerce .woocommerce-message {
    border-top-color:#E66432;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
        border: solid 1px #E4E4E4;
        padding: 6px; 
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #787477;
}
.woocommerce #container {
    background-color: #fff;
}
.woocommerce .woocommerce-result-count {
    padding:10px 0 0 10px;
}
.woocommerce #primary .site-main #content {
    padding: 20px !important;
}
.woocommerce #content .woocommerce-ordering {
    padding-top: 10px;
}
.woocommerce #secondary .woocommerce.widget_layered_nav ul li a {
    display:inline-block;
    width:50%;
}
.woocommerce #secondary .woocommerce.widget_layered_nav ul li span {
    display:inline-block;
    width:48%;
    text-align: right;
}
.woocommerce input.button.alt{
    background:#E66432;
}
.woocommerce input.button.alt:hover{
    color:#E66432;
    background:transparent;
        border: solid 2px #E66432;
}
.woocommerce .woocommerce-info {
    border-top-color: #E66432;
}
.woocommerce .woocommerce-info:before{
    color:#E66432;
}