overrideGlobalHead:
	label: Use these settings
	type: checkbox
	default:
		'yes':
			label: 'Yes'
headerType:
	label: "Header Type"
	type: select
	default: {
		roomViewer: {
			label: 'Room viewer'
			checked: yes
		},
		slider: {
			label: 'Slider'
		},
		none: {
			label: 'None'
		}
	}
searchBoxType:
	label: "Search box type"
	type: select
	default: {
		'rooms': {
			label: 'Room Type'
			checked: yes
		},
		'other': {
			label: 'Editable Type'
		}
	}
headerBgColor:
	label: Background Color
	type: colorpicker
	default: '#e4e1d0'
	themebox: { label: Header Background, page: all }
headerBg:
	label: Background Image
	type: image-url
	default: 'design/img/patterns/structure.png'
	themebox: {
		label: Header Background,
		page: all,
		{title: Floral, img: design/img/patterns/floral.png}
		{title: Sand, img: design/img/patterns/sand.png}
		{title: Wood, img: design/img/patterns/wood.png}
		{title: Structure, img: design/img/patterns/structure.png}
	}