sliderHeight:
	label: 'Height of images (px)'
	type: text
	default: auto
sliderDelay:
	label: 'Slide Delay'
	type: text
	default: 3000
sliderAnimTime:
	label: 'Animation time'
	type: text
	default: 600
sliderAnimation:
	label: Slider Animation Type
	type: select
	default: {
		linear: {
			label: linear
		}
		easeInSine: {
			label: easeInSine
		}
		easeOutSine: {
			label: easeOutSine
		}
		easeInOutSine: {
			label: easeInOutSine
		}
		easeInQuad: {
			label: easeInQuad
		}
		easeOutQuad: {
			label: easeOutQuad
		}
		easeInOutQuad: {
			label: easeInOutQuad
		}
		easeInCubic: {
			label: easeInCubic
		}
		easeOutCubic: {
			label: easeOutCubic
		}
		easeInOutCubic: {
			label: easeInOutCubic
		}
		easeInQuart: {
			label: easeInQuart
		}
		easeOutQuart: {
			label: easeOutQuart
		}
		easeInOutQuart: {
			label: easeInOutQuart
		}
		easeInQuint: {
			label: easeInQuint
		}
		easeOutQuint: {
			label: easeOutQuint
		}
		easeInOutQuint: {
			label: easeInOutQuint
		}
		easeInExpo: {
			label: easeInExpo
		}
		easeOutExpo: {
			label: easeOutExpo
		}
		easeInOutExpo: {
			label: easeInOutExpo
		}
		easeInCirc: {
			label: easeInCirc
		}
		easeOutCirc: {
			label: easeOutCirc
		}
		easeInOutCirc: {
			label: easeInOutCirc
		}
		easeInElastic: {
			label: easeInElastic
		}
		easeOutElastic: {
			label: easeOutElastic
		}
		easeInOutElastic: {
			label: easeInOutElastic
		}
		easeInBack: {
			label: easeInBack
		}
		easeOutBack: {
			label: easeOutBack
		}
		easeInOutBack: {
			label: easeInOutBack
			checked: true
		}
		easeInBounce: {
			label: easeInBounce
		}
		easeOutBounce: {
			label: easeOutBounce
		}
		easeInOutBounce: {
			label: easeInOutBounce
		}
	}
sliderType:
	label: "Slider Type"
	type: select
	default: {
		'big': {
			label: 'Big'
			checked: yes
		},
		'small': {
			label: 'Small'
		}
	}
sliderCat:
	label: Slider Category
	type: dropdown-categories
	default: 'slider-creator'
Reservation settings : section
##############################
sliderFormUrl:
	label: Address of the contact form for custom module
	type: text
sliderFormCat:
	label: From Reservation Category
	type: dropdown-categories
	default: 'item'
sliderdisplayRoomReservationSearch:
	label: Display Searchbox
	type: checkbox
	default:
		'yes':
			label: 'Yes'
			checked: true
sliderdisplayRoomReservation:
	label: Display Reservation
	type: checkbox
	default:
		'yes':
			label: 'Yes'
sliderroomReservationText:
	label: Item Reservation Icon Title
	type: text
	default: 'Item Reservation'
sliderdisplayRoomDescription:
	label: Display Item Description
	type: checkbox
	default:
		'yes':
			label: 'Yes'
sliderroomDescriptionText:
	label: Item Description Icon Title
	type: text
	default: 'Item Description'
sliderdisplayRoomAdditionalServices:
	label: Display Custom Services
	type: checkbox
	default:
		'yes':
			label: 'Yes'
sliderroomCustomServicesImage:
	label: Custom Services Icon
	type: image-url
	default: 'design/img/room-viewer-icon3.png'
sliderroomCustomServicesText:
	label: Custom Services Icon Title
	type: text
	default: 'Custom Services'
sliderroomCustomServicesLink:
	label: Custom Services Icon Link
	type: text
	default: '#'
sliderdatepickerFormat:
	label: "Date Format"
	type: select
	default: {
		'mm/dd/yy': {
			label: 'Default - mm/dd/yy'
			checked: yes
		},
		'yy-mm-dd': {
			label: 'ISO 8601 - yy-mm-dd'
		},
		'd M, y': {
			label: 'Short - d M, y'
		},
		'd MM, y': {
			label: 'Medium - d MM, y'
		},
		'DD, d MM, yy': {
			label: 'Full - DD, d MM, yy'
		}
	}
sliderroomFormDefaultRoomText:
	label: Form Items Default Title
	type: text
	default: 'Choose your Item'
sliderdisplayroomFormDefaultFromText:
	label: Display Datepicker 1
	type: checkbox
	default:
		'yes':
			label: 'Yes'
			checked: true
sliderroomFormDefaultFromText:
	label: Form Datepicker 1 Default Title
	type: text
	default: 'From'
sliderdisplayroomFormDefaultToText:
	label: Display Datepicker 2
	type: checkbox
	default:
		'yes':
			label: 'Yes'
			checked: true
sliderroomFormDefaultToText:
	label: Form Datepicker 2 Default Title
	type: text
	default: 'To'
sliderroomFormBookNowText:
	label: Form Button Title
	type: text
	default: 'BOOK NOW'