#myGallery {min-height: 234px; color: #FFFFFF;background:#E6E6E6; z-index:0;}
* html #myGallery {height:234px;}
.jdGallery {overflow: hidden; position: relative;}
.jdGallery .slideElement {width: 100%; height: 100%; background-repeat:no-repeat;}
#myGallery img {max-width:586px;}
* html #myGallery img {width:expression(this.width > 940? "940px" : this.width);}
