.clear 		{ _height: 1%; min-height: 1%; }

.widget_flickr ul		{ _height: 1%; min-height: 1%; }
#content-wrapper		{ _height: 1%; min-height: 1%; }

a.bigbut			{ padding-top: 5px; padding-bottom: 5px;}
